{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shaxbozaka</title>
    <link rel="shortcut icon" type="image/png" href="https://www.google.com/search?q=icon&client=ubuntu&hs=zfV&channel=fs&sxsrf=AOaemvKA05piZ6JKrq_DlUTtlpSO8A8Lvw:1635593415307&tbm=isch&source=iu&ictx=1&fir=qr7OC_o-LJ2zFM%252CnWyWd298w5ym-M%252C_%253BJp2NT_nmlkjFfM%252CRK9tCJK0ogEYEM%252C_%253BuUIxft3yBdpRFM%252CLtSHkGDpMdr5dM%252C_%253BzehgEApECYGvPM%252CDjjAyZBukY_OEM%252C_%253B96nosWabj-f3ZM%252CEsN51MPve4PSeM%252C_%253BirrEWWbJFDE9GM%252C6oEfSuCw6uj-kM%252C_%253Bj3Qu4xPsfoPN-M%252C0wfgfucjO9nugM%252C_%253BaC4yFN1sf3L5JM%252CPei1iuYgKsZFhM%252C_%253B3JoUWsRrwcfMbM%252CmMz_JDFYNw5gvM%252C_%253BLcoQ8DQhO-Qz_M%252CMy4I3j0jGTse6M%252C_&vet=1&usg=AI4_-kSm5vYETshIlboPneIeU4quBf53yA&sa=X&ved=2ahUKEwjNjZCkhPLzAhW9AxAIHcEiBgsQ9QF6BAgYEAE#imgrc=Jp2NT_nmlkjFfM" />
</head>
<body>
<div style='text-align: center; color: red; font-size: 100px'>
    Welcome to <a href='shaxbozaka.info'>FastLogz</a> backend
</div>
</body>
</html>